/* Custom CSS for the user icon */
.user-icon {
  text-align: right;
}

.user-icon a {
  font-size: 50px; /* Adjust the font-size as needed to increase the icon size */
}

.modal-dialog {
  background: white;
}

.btn-close {
  position: absolute;
  right: 0;
}

.modal-backdrop {
  z-index: -1;
}

.modal-body label {
  margin-top: 7px;
}

.input:focus {
  outline: none;
  background-clip: padding-box;
}

.error-message {
  font-size: 0.85rem;
  color: red;
}

/*------/ Button /------*/
.button {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #0B5345;
  color: #fff;
  transition: all 500ms ease;
}

.button-a {
  text-decoration: none;
  background-color: #0B5345;
  color: #fff;
  border-color: #cde1f8;
}

.button-big {
  padding: 0.9rem 2.3rem;
  font-size: 1.2rem;
}

.button-rouded {
  border-radius: 5rem;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
